@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
      z-index: 1;
    }
    html{
        scroll-behavior: smooth;
    }
}

@layer components {
  .hamburger-btn {
    @apply block !z-30 md:hidden;
  }

  .hamburger-btn_items-wrapper {
    @apply flex items-center flex-col justify-center relative w-7 h-7;
    transition: transform 0.4s ease;
  }

  .hamburger-btn_item {
    @apply inline-block absolute w-full h-0.5 bg-white rounded-full;
    transition: transform 0.2s linear;
  }

  .hamburger-btn_item:nth-child(1) {
    transform: translateY(8px);
  }

  .hamburger-btn_item:nth-child(3) {
    transform: translateY(-8px);
  }

  /* active hamburger button */
  .hamburger-btn-active .hamburger-btn_items-wrapper {
    transform: rotate(135deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(1) {
    transform: translateY(0) rotate(180deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(2) {
    transform: rotate(90deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(3) {
    transform: translateY(0) rotate(90deg);
  }
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.slash::after{
  display: inline-block;
  content: '>';
  margin: 0 15px;
}

button[aria-expanded="true"] + label {
  font-weight: 600 !important;
  font-size: 14px;
}

.slider{
  display: flex !important;
  flex-direction: row;
}

.slick-fade {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slick-fade.slick-current {
  opacity: 1;
}

.slick-dots.slick-thumb {
  display: flex; 
}

.slick-thumb li{
  width: 100%;
  max-width: 100px;
  height: 65px;
  object-fit: cover;
}

.slick-thumb li.slick-active img{
  border: 3px solid rgb(231, 10, 50);
}

.slick-thumb li img{
  width: 100%;
  height: 65px;
  object-fit: cover;
  border-radius: 12px;
}

.search-result::-webkit-scrollbar {
  width: 12px;
}

.search-result::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-result::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #E70A32;
}


@media only screen and (max-width: 990px) {
  .slider{
    display: flex;
    flex-direction: column;
  }

  .slick-dots li {
    display: none !important;
  }
}