@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    z-index: 1;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-111 font-montserrat;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  /* form elements */
  input,
  textarea,
  select {
    @apply w-full px-4 py-2.5 rounded-md border border-111/25 outline-teal-500 transition-colors placeholder:!text-111/30 placeholder:!font-medium hover:bg-gray-50 focus:bg-gray-50;
  }

  label {
    @apply font-medium;
  }

  form button[type="submit"] {
    @apply w-full bg-teal-500 px-3.5 py-[11px] rounded-md text-white transition-colors hover:bg-teal-600 active:bg-teal-400;
  }

  /* headings */
  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold sm:text-[28px] sm:leading-9;
  }
}

@layer components {
  .divider {
    @apply w-full bg-111/15;
    height: 1px;
  }

  .checkbox {
    @apply hidden;
  }

  .virtual-checkbox {
    @apply flex items-center justify-center size-[22px] border-2 border-teal-400 rounded-md transition-colors duration-300;
  }

  .virtual-checkbox-icon {
    @apply size-[18px] transition-[transform,opacity] scale-[2] opacity-0;
  }

  .checkbox:checked ~ .virtual-checkbox .virtual-checkbox-icon {
    @apply scale-100 opacity-100;
  }

  .checkbox:checked ~ .virtual-checkbox {
    @apply bg-teal-400;
  }

  /* hamburger btn */
  .hamburger-btn-items {
    @apply flex flex-col justify-center relative transition-transform duration-300;
    width: 22px;
    height: 22px;
  }

  .hamburger-btn-item {
    @apply inline-block absolute w-full h-0.5 bg-111 rounded-full transition-transform duration-300;
  }

  .hamburger-btn-item:nth-child(1) {
    @apply translate-y-[5px];
  }

  .hamburger-btn-item:nth-child(2) {
    @apply w-4/5 bg-[#737373] transition-opacity duration-500;
  }

  .hamburger-btn-item:nth-child(3) {
    @apply -translate-y-[5px];
  }

  /* active hamburger btn */
  .hamburger-btn.active .hamburger-btn-items {
    transform: rotate(135deg);
  }

  .hamburger-btn.active .hamburger-btn-item:nth-child(1) {
    @apply translate-y-0 rotate-180 bg-[#737373];
  }

  .hamburger-btn.active .hamburger-btn-item:nth-child(2) {
    @apply opacity-0 rotate-90;
  }

  .hamburger-btn.active .hamburger-btn-item:nth-child(3) {
    @apply translate-y-0 rotate-90;
  }
}

@layer utilities {
  .container {
    @apply max-w-base w-full px-5 mx-auto;
  }
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.slash::after {
  display: inline-block;
  content: ">";
  margin: 0 15px;
}

button[aria-expanded="true"] + label {
  font-weight: 600 !important;
  font-size: 14px;
}

/* slick slider */
.slider {
  display: flex !important;
  flex-direction: row;
}

.slick-fade {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slick-fade.slick-current {
  opacity: 1;
}

.slick-dots.slick-thumb {
  top: auto !important;
  height: 72px;
  bottom: -36px !important;
}

.slick-thumb li {
  width: 100% !important;
  max-width: 100px !important;
  height: 65px !important;
  object-fit: cover;
}

.slick-thumb li.slick-active img {
  border: 3px solid rgb(231, 10, 50);
}

.slick-thumb li img {
  width: 100%;
  height: 65px;
  object-fit: cover;
  border-radius: 12px;
}

.search-result::-webkit-scrollbar {
  width: 12px;
}

.search-result::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-result::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #e70a32;
}

/* starRating.css */
.star {
  font-size: 2rem;
  cursor: pointer;
  color: #d3d3d3; /* Light gray color for unfilled stars */
}

.star.filled {
  color: #ffd700; /* Gold color for filled stars */
}

/* Modal */
.modal-open .modal {
  transform: translateY(0) !important;
}

.modal {
  transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 990px) {
  .slider {
    display: flex;
    flex-direction: column;
  }

  .slick-dots li {
    display: none !important;
  }
}
